# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Scrapy
.scrapy/
*.jl

# Outputs
*.json
*.csv
*.log

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env
*.env

chromedriver.exe